* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
body {
  background-color: #252239;
}
html {
  font-size: 10px;
}
/* nav bar style starts from here on  */

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}
.nav {
  background-color: #151226;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exit-button,
.help-btn {
  display: inline-block;
  cursor: pointer;
  color: white;
  padding: 24px;
  font-size: 20px;
}
.help__text {
  margin-left: 8px;
  font-size: 12px;
  font-weight: 700;
}

.help-btn {
  display: flex;
  align-items: center;
}
.web__logo img {
  height: 90px;
}
/* nav bar ends here ///////// */

.progress__bar {
  background: #00a5ff;
  height: 2px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.progress__bar-text {
  width: 6%;
  height: 30px;
  border-radius: 0px 0px 99px 99px;
  background: #00a5ff;
  text-align: center;
}
.progress__percent {
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.progress__percent-unit {
  font-size: 12px;
  position: absolute;
  color: white;
}

/* progress bar ends here  */
.meat-selection {
  padding: 40px 0;
}
.main__heading h1 {
  color: white;
  text-transform: capitalize;
  text-align: center;
  font-size: 2.4rem;
}
.choice__heading {
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 1rem;
  color: #a8a7b0;
  text-align: center;
}
.services {
  padding: 30px 20px;
}
.service__item {
  width: 100%;
  max-width: 34%;
  margin-top: 14px;
  border-radius: 0.8rem;
  background-color: #151226;
  cursor: pointer;
  border: 0;
  color: white;
  height: auto;
  min-height: 68px;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: border 0.8s;
}
.item__content {
  padding: 0.75rem 1rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.service__item img {
  height: 44px;
  width: 44px;
  margin-right: 20px;
  max-width: 100%;
}
.service__item span {
  font-size: 1.6rem;
  font-weight: 700;
}
.service__item:hover {
  border: 1px solid rgb(137, 144, 252);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.services__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

/* new ////////////////// */
.custom-button {
  background: linear-gradient(to bottom right, #0051ff, #00c2ff);
  border-radius: 2.8rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  min-height: 50px;
  width: 100%;
  max-width: 34%;
  font-weight: bold;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border: none;
  margin-top: 25px;
}

.custom-button:hover {
  background: #e6b04b;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.button-text {
  display: inline-block;
  max-width: 95%;
}

/* responsive */
/* Define styles for small screens */
@media (max-width: 768px) {
  .nav__container {
    width: 90%; /* Adjust width for smaller screens */
  }

  .exit-button,
  .help-btn {
    padding: 12px; /* Adjust padding for smaller buttons */
    font-size: 16px; /* Adjust font size for smaller buttons */
  }

  .help__text {
    font-size: 10px; /* Adjust font size for smaller labels */
  }

  .progress__bar-text {
    width: 10%; 
    height: 20px; 
    padding: 5px; 
}

/* Add a media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .service__item {
    max-width: 100%;
  }

  .services__container {
    flex-direction: row; 
  }
  .custom-button {
    max-width: none;
  }
}

/* Add a media query for screens smaller than 480px */
@media screen and (max-width: 480px) {
  .main__heading h1 {
    font-size: 2rem;
  }

  .choice__heading {
    font-size: 1.4rem;
  }

  .service__item {
    width: 100%;
    max-width: none;
  }

  .custom-button {
    max-width: none;
  }
}
/* contact */
body {
  margin: 0;
  padding: 0;
  background: #252239;
  font-family: Arial, sans-serif;
}

.container-1 {
  margin: 0 auto;
  max-width: 100%;
}

.navbar {
  background-color: #231f3a;
  color: #ccc;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  padding: 8px 5px;
}

.back-button,
.help-button {
  display: inline-block;
  cursor: pointer;
}

.icon {
  height: 24px;
  width: 24px;
}

.label {
  margin-left: 8px;
  font-size: 14px;
}
.help-button {
  display: flex;
  align-items: center;
}
.progress-bar {
  background: #f53373;
  height: 2px;
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.progress-bar-text {
  width: 4%;
  height: 27px;
  border-radius: 49% 51% 53% 47% / 0% 0% 100% 100%;
  background: #f53373;
  text-align: center;
}
.text-measurment {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
}
.first-text {
  color: #ffffff;
}
.second-text {
  color: #849eae;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #151226;
  border-radius: 12px;
}
label {
  font-size: x-small;
  color: #ffffff;
}
.tab {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border-radius: 3px;
  background: #2c293b;
  padding: 7px;
  border-radius: 31px;
  cursor: pointer;
}

.tab button {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: #ddd;
  transition: background-color 0.3s ease;
  width: 48%;
  border-radius: 25px;
}

.tab button.active {
  background-color: #999;
  color: #fff;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  background: none;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #999999;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  overflow: none;
}

.submit-btn {
  margin-top: 20px;
  text-align: center;
}
.active {
  background: linear-gradient(#f23479, #c24fe1);
}
.submit-btn button {
  padding: 15px;
  width: 30%;
  max-width: 460px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #f23479;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn button:hover {
  background-color: #00ff00;
}
/* home */
* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
.main {
  background-color: #252239;
  color: white;
  width: 100%;
  height: 65vh;
}

.navBar {
  width: 100%;
  height: 10vh;
  background-color: #201d34;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 70%;
  height: 73%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 76px;
}
.logo i {
  font-size: 22px;
}
.slider {
  width: 100%;
  height: 85%;
  background-color: #201d34;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-text {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.stext-inner {
  width: 85%;
  height: 70%;
  background-color: #201d34;
}
.text-part {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 33px;
  font-family: sans-serif;
}
#change-color {
  color: #a6a5ae;
}
.buttons-part {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 45px;
  margin-left: 14px;
}
.btn-male {
  width: 31%;
  height: 43%;
  background: linear-gradient(to right, #04a2ff, #1f65ff);
  color: white;
  border-radius: 39px;
  box-shadow: 0px 0px 18px 6px #0058ffd1;
  border: none;
  font-size: 22px;
}
.btn-female {
  width: 31%;
  height: 43%;
  background: linear-gradient(to right, #f1357d, #c44fde);
  color: white;
  border-radius: 39px;
  box-shadow: 0px 0px 20px 3px #e700ffd1;
  border: none;
  font-size: 22px;
}
.slider-img {
  width: 50%;
  height: 100%;
  background-image: url(./assets/images/food.jpg);
  background-position: center;
  background-size: cover;
}
.section-two {
  background-color: #252239;
  color: white;
  width: 100%;
  height: 120vh;
}
.sec-two-heading {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 31px;
  font-family: sans-serif;
}
.carts {
  width: 100%;
  height: 80%;
  background-color: #252239;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carts-inner {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
<<<<<<< HEAD
.card{
  width: 76%;
=======
.card {
  width: 72%;
>>>>>>> cdfc2168009854155dadbd7bbb3fb2eaf5fced9b
  height: 18%;
  background-color: #151226;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px 0px 30px;
}
<<<<<<< HEAD
#numbers{
  background: linear-gradient(to right, #f0367f, #c44edb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 43px;
}
.card p{
  font-size: 23px;
}
.section-three{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
#linear-color{
  background: linear-gradient(to right, #f0367f, #c44edb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.s-three-inner{
  width: 46%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  color: white;
  font-weight: 600;
  text-align: center;
}
.sec-three-images{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec-three-btn{
  width: 29%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#sec-three-a {
  color: white;
  font-weight: 400;
}

.section-four{
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-four-inner{
  width: 69%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sec-four-text{
  width: 25%;
  height: 95%;
  background-color: #151226;
  border-radius: 7px;
  z-index: 111;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.sec-f-heading{
  width: 90%;
  height: 22%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  font-size: 29px;
  font-weight: 600;
}
#small-text{
  font-size: 22px;
  background: linear-gradient(to right, #f0367f, #c44edb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.sec-f-body{
  width: 90%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sec-four-img{
  width: 100%;
  height: 70%;
  background-image: url(./assets/images/pizza.jpg);
  background-position: center;
  background-size: cover;
}
.sec-four-cart{
  width: 100%;
  height: 18%;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.s-f-left{
  width: 20%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.circle{
  width: 50%;
  height: 50%;
  border-radius: 44px;
  background: linear-gradient(to right, #f0367f, #c44edb);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.sec-four-cart-diff{
  width: 100%;
  height: 18%;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.section-five{
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-five-inner{
  width: 65%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
  font-weight: 600;
  color: white;
}
.sec-five-con{
  width: 80%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec-five-cart{
  width: 48%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  text-align: center;
  background-color: #151226;
  padding: 0px 12px 0px 12px;
}
.last-button{
  width: 30%;
  height: 12%;
  border-radius: 32px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  border: none;
  background: linear-gradient(to right, #f0367f, #c44edb);
  color: white;
}
#t-color-change{
  background: linear-gradient(to right, #f0367f, #c44edb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
=======
#numbers {
  color: linear-gradient(to right, #f1357d, #c44fde);
  font-size: 22px;
}
>>>>>>> cdfc2168009854155dadbd7bbb3fb2eaf5fced9b
